.DS_Store
.metadata/
.recommenders/
RemoteSystemsTempFiles/

das-boot/target/*
das-boot/.classpath
das-boot/.project
das-boot/.settings/*

fruitbasket/*

task-jwt-sample/target/*
task-jwt-sample/.settings/*
task-jwt-sample/.classpath
task-jwt-sample/.project

